tr[data-todoCompleted="true"] {
  text-decoration: line-through;
}

tr[data-todoCompleted="false"] {
  text-decoration: none;
}

#todoTable_paginate a {
  color: black;
  padding: 8px;
  cursor: pointer;
}

#todoTable_paginate a:hover {
  background-color: #ddd;
}
