<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="/webjars/jquery/3.2.0/jquery.js"></script>
    <script type="text/javascript" src="/webjars/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <!-- Bootstrap-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<button class="btn btn-primary" onclick="add()">
    <span class="fa fa-plus">add</span>
</button>
<div class="m-1">
    <table id="todoTable" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Datetime</th>
            <th>Completed</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
    </table>
</div>
<a href="/todoList?completed=1">completed</a>
<a href="/todoList?completed=0">active</a>
<hr>


<div class="modal fade" id="modal" role="form">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Todo</h4>
            </div>
            <div class="modal-body">
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Task Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Task name">
                    </div>
                    <div class="form-group">
                        <label for="dateTime" class="col-form-label">Date Time</label>
                        <input type="datetime-local" class="form-control" id="dateTime" name="dateTime">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="save()">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>