<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/datatables/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<header>
<div class="page-header">
    <div class="float-right">
        <form action="/logout" method="get">
            <input type="image" th:src="@{/images/logout.png}" width="40" height="40" alt="logout"/>
        </form>
    </div>
</div>
</header>

<div class="container">
    <div class="text-center">
        <h3>Todo List</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <button class="btn btn-primary mb-2" onclick="add()">
            <span>add</span>
        </button>
        <div class="dropdown p-lg-2">
            <button class="btn btn-primary mb-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter tasks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" onclick="filter('All')">All</a>
                <a class="dropdown-item" onclick="filter('Active')">Active</a>
                <a class="dropdown-item" onclick="filter('Completed')">Completed</a>
            </div>
        </div>
    </div>
    <table id="todoTable" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Datetime</th>
            <th>Completed</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>


<div class="modal fade" id="modal" role="form">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Todo</h4>
            </div>
            <div class="modal-body">
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Task Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Task name">
                    </div>
                    <div class="form-group">
                        <label for="dateTime" class="col-form-label">Date Time</label>
                        <input type="datetime-local" class="form-control" id="dateTime" name="dateTime">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="save()">Save</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>