<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form class="form" action="#" th:action="@{/todoList}" th:object="${todo}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" th:field="*{name}" placeholder="Name"/>
    <input type="datetime-local" th:field="*{dateTime}"/>
    <input type="submit" value="Add">
</form>
</body>
</html>