<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="/webjars/jquery/3.2.0/jquery.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<button class="btn btn-primary" onclick="add()">
    <span class="fa fa-plus">add</span>
</button>
<div class="m-1">
    <table id="todoTable" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Datetime</th>
            <th>Completed</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todoList}" th:attr="data-todoCompleted=${todo.completed}">
            <td class="row" th:text="${todo.name}"></td>
            <td th:text="${todo.dateTime}"></td>
            <td>
                <input th:onclick="|complete('${todo.id}', '${!todo.completed}')|" type="checkbox"
                       th:checked="${todo.completed}"/>
            </td>
            <td><a th:href="@{/todoList/delete(id=${todo.id})}">delete</a></td>
            <td><a th:href="@{/todoList/update(id=${todo.id})}">update</a></td>
        </tr>
        </tbody>
    </table>
</div>
<a href="/todoList?completed=1">completed</a>
<a href="/todoList?completed=0">active</a>
<hr>
<div class="pagination" th:if="${todoList.totalPages > 0}"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/todoList(size=${todoList.size}, page=${pageNumber} - 1)}"
       th:text="${pageNumber}"></a>
</div>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="defaultForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
        Modal Login Form</a>
</div>

</body>
</html>